{% load static %}
    <div class="banner-section spad" style="position: relative; top:-30px;">
        <div class="container-fluid" >
            <div class="row">
                <div class="col-lg-4">
                    <div class="single-banner">
                        <a href="/product/shirts/">
                        <img src="{% static '' %}img/banner-11.jpg" alt="">
                        <div class="inner-text">
                            <h4>Shirts</h4>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <a href="/product/jeans/">
                        <img src="{% static '' %}img/banner-22.jpg" alt="">
                        <div class="inner-text">
                            <h4>Jeans</h4>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="single-banner">
                        <a href="/product/shoes/">
                        <img src="{% static '' %}img/banner-33.jpg" alt="">
                        <div class="inner-text">
                            <h4>Shoes</h4>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

