{% extends 'homebase.html' %}
{% load static %}
{% block title %}
    {{ product.name }}
{% endblock %}
{% block content %}
    <div class="container">
        <div class='row'>
            <div class="col-lg-6">
                <br>
                <img src="

                        {% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"
                     style="width:500px;height:500px;">
            </div>
            <div class="col-lg-5">
                <br>
                <h1 style="font-size: 40px;">{{ product.name }}</h1>
                <p></p>
                <h1 style="font-size: 35px;">
                    <a href="{{ product.category.get_absolute_url }}" style="color:#706e56;">
                        {{ product.category }}
                    </a>
                </h1>
                <br>
                <p style="font-size: 30px;">
                    {{ product.description|linebreaks }}
                </p>
                <br>
                <div>
                    <p class="price" style="color: #e7ab3c;font-size: 20px;">${{ product.price }}</p>
                    <br>
                </div>
                <form action="{% url "cart:cart_add" product.id %}" method="post">
                    {{ cart_product_form }}
                    {% csrf_token %}
                    <input type="submit" value="Add to cart">
                </form>
            </div>
        </div>
    </div>
{% endblock %}